
/* Container styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    background-color: #807d7d;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(210, 203, 203, 0.1);
  }
  
  /* Department sections */
  .department {
    background-color: #d6ebf7;
    border: 1px solid #5a5757;
    margin: 1em 0;
    padding: 1em;
    border-radius: 5px;
    width: 100%;
    text-align: left;
  }
  
  .department h4 {
    margin-top: 0;
    color: #222;
    font-size: large;
  }
  
  .department ul {
    padding-left: 20px;
    margin: 0;
    text-align: left;
  }